
AddType image/avif .avif
AddType image/webp .webp
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresDefault "access plus 30 days"
</IfModule>
